
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    330deg,
    hsl(0, 0%, 100%) 0%,
    hsl(260, 8%, 85%) 100%
  );
}

svg {
  display: block;
}

p, h1, h2, h3, h4 {
  color: black;
}

h1.head {
  color: white;
}

h1 {
  font-size: 2rem;;
}

h2 {
  margin-bottom: 40px;
}

p {
  font-size: 0.875rem;
}

#main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


header {
  width: 100%;
  height: 5rem;
  background-color: #07030d;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

#wrapper {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  color: white;
  padding: 5px;
}

#rev-div {
  padding: 2rem;
  margin:2rem;
  border: 3px solid black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
}

footer {
  background-color: black;
  color: aliceblue;
  padding: 2rem;
  margin-top: 66vh;
  text-align: center;
}

.mb-about-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  padding: 2rem;
  text-align: center;
}

.mb-about-container h2 {
  color: bisque;
}

.mb-about-container h3 {
  font-size: 24px;
  margin: 10px 0;
  color: bisque;
}

.mb-about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: bisque;
}

.mb-about-container a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(73, 73, 219);
}

.mb-about-container a:hover {
  text-decoration: underline;
}

.barCode {
  margin-left:66%;
}

