
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5ef;
}

svg {
  display: block;
}

p, h1, h2, h3, h4 {
  color: #0d0d0d;
}

h1.head {
  color: white;
}

h1 {
  font-size: 2rem;;
}

h2 {
  margin-bottom: 40px;
}

p {
  font-size: 0.875rem;
}

#main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


header {
  width: 100%;
  height: 5rem;
  background-color: #181818;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

#wrapper {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  color: white;
  padding: 5px;
}

.rev-div {
  padding: 2rem;
  margin:2rem;
  border: 3px solid black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
}

footer {
  background-color: black;
  color: aliceblue;
  padding: 2rem;
  margin-top: 66vh;
  text-align: center;
}



/* Danny's extra css */

h3.rev {
  color: #eaeaea;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p.rev {
  color: #eaeaea;
}

label.rev{
  color: #eaeaea;
}

h3.title {
  color: #0d0d0d;
  font-size: 1rem;
  font-weight: normal;
}

p.content {
  color: #0d0d0d;
  font-size: 1rem;
  font-weight: 700;
}

.rev-form {
  display: inline-block;
  align-items: left;
  width: 100%;
  background-color: #0d0d0d;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  padding: 20px;
}

a.rev {
  text-decoration: none;
}

input.rev, textarea.rev {
  width: 100%;
  height: 1.5rem;
  background-color: #eaeaea;
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: 5px;
  padding-left: 4px;
}

.wrap-textarea {
  width: 100%;
}

textarea.text-max-wide{
  width: 100%;
}


button.review {
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 2rem;
  padding: 5px;
  background-color: #0d0d0d;
  color: #eaeaea;
  border-radius: 7px;
}

.dark {
  color: #0d0d0d;
  background-color: #eaeaea;
  border: 1px #eaeaea solid;
}

.dark:hover {
  cursor: pointer;
  color: #eaeaea;
  background-color: #eaeaea;
  opacity: 0.6;
  transition: 0.3s;
}

button.review:hover {
  cursor: pointer;
  background-color: #181818;
  opacity: 0.6;
  transition: 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 1rem;
}

li {
  display: inline;
  margin: 0;
  padding: 8px 12px;
  height: 1.5rem;
  background-color: #181818;
  color: #eaeaea;
}

li a:hover{
  background-color: #202020;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #eaeaea;
}

img.cover {
  width: 200px;
  height: 200px;
  /* margin: 50px; */
  padding: 0;
}

.cover-art-box {
  height: 210px;
  width: 220px;
  margin: 20px auto;
}

#nav-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;
}

.rev-compact {
  padding: 1rem;
  margin: 1rem;
  border: 3px solid black;
  text-align: center;
}


.clear {
  clear: both;
}
@media screen and (max-width: 810px) {
  body {
    background-color: olive;
  }
}

.mb-about-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mb-about-container h3 {
  font-size: 24px;
  margin:5px 0;

}

.mb-about-container p {
  font-size: 15px;
  line-height: 1.6;

}

.mb-about-container a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(73, 73, 219);
}

.mb-about-container a:hover {
  text-decoration: underline;
}



.cd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	text-align: center;
	perspective: 550px;
	height: 212px;
	padding: 2rem;
}

@media screen and (max-width: 768px) {
  .cd {
    flex-wrap: wrap;
  }
}


.cd img {
  margin-top: 1rem;
	height: 100px;
	width: auto;
}

.cd .front {
	cursor: pointer;
	transition: opacity .2s ease;
  transform: rotateY(25deg) translateZ(115px);
  border: 3px solid black;
  border-radius: 5px;
}

.homepage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .homecontent {
  position: relative;
  margin-left: 40px;
  color: black;
  font-size: large;
  font-weight: 900;
}

.homeimage {
  position: relative;
}

.homebg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 1;
  height: 600px;
}
.names {
  text-align: center;
  background-color: aliceblue;
  border: 3px solid black;
  padding: 1rem;
  margin-top: 4rem;
  opacity: 70%;
}
.names h3 {
  margin: 1rem 0;
}
