
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    330deg,
    hsl(0, 0%, 100%) 0%,
    hsl(260, 8%, 85%) 100%
  );
}

svg {
  display: block;
}

p, h1, h2, h3, h4 {
  color: black;
}

h1.head {
  color: white;
}

h1 {
  font-size: 2rem;;
}

h2 {
  margin-bottom: 40px;
}

p {
  font-size: 0.875rem;
}

#main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


header {
  width: 100%;
  height: 5rem;
  background-color: #07030d;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

#wrapper {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  color: white;
  padding: 5px;
}

#rev-div {
  padding: 2rem;
  margin:2rem;
  border: 3px solid black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40vw;
}

footer {
  background-color: black;
  color: aliceblue;
  padding: 2rem;
  margin-top: 66vh;
  text-align: center;
}